body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.hero {
  background-image: url("../img/heart.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  justify-content: center;
}

.brand-logo.center {
  display: flex;
}

.brand-logo.center i {
  margin-left: 5px;
}

h3 {
  padding: 0 20px;
}

.bottom-links li{
  padding: 3px;
}


.callouts .col{
  padding: 50px 15px;
}

.footer-copyright {
  padding: 10px 0;
}

.button-collapse {
  margin-left: 20px;
}

i {
  vertical-align: middle;
}

.nav-wrapper li {
  height: 62px;
}

.card-background{
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  background-size: contain;
}

.card .card-content .card-title{
  line-height: 25px;
}

#heart {
  background-image: url("../img/heart_buy.png");
}

#lungs {
  background-image: url("../img/lungs.png");
}

.card h5 {
  margin: 0;
}

.card-action button{
  width: 100%;
}
